@model LibroDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LibroDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopiasDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopiasDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoresIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoresIds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaIds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LibroId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
