@model PrestamoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrestamoDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucionEsperada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucionEsperada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DespachadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DespachadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDespachador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDespachador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SancionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SancionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConceptoSancion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConceptoSancion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoSancion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoSancion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrestamoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
